
/* VARIABLES DE COLOR    */
:root {
    --azul-claro: #E9F1FA;
    --azul-brillante: #00ABE4;
    --blanco: #FFFFFF;
    --texto-oscuro: #333333;
}


/* RESET Y BASE          */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--azul-claro);
    min-height: 100vh;
}

/* HEADER PRINCIPAL      */
.main-header {
    background-color: var(--blanco);
    color: var(--texto-oscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    border-bottom: 2px solid var(--azul-brillante);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.main-header h1 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--azul-brillante);
}

/* NAVEGACIÓN SUPERIOR   */
.top-nav {
    list-style: none; /*Elimina los estilos predeterminados de lista, como los puntos en listas ul*/
    display: flex; /* Organiza los elementos de manera horizontal */
    gap: 20px; /* Es el espacio en pixeles que separa los elementos */
}

.top-nav a {
    color: var(--texto-oscuro);
    text-decoration: none;
    font-weight: bold;
}

.top-nav a:hover {
    text-decoration: underline;
}


/* BARRA LATERAL (SIDEBAR) */
.sidebar {
    position: fixed;
    top: 70px; /* Debajo del header */
    left: 0;
    height: calc(100vh - 70px);
    width: 220px;
    background-color: var(--blanco);
    padding-top: 30px;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 25px;
}

.sidebar ul li a {
    color: var(--texto-oscuro);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre ícono y texto */
}

.sidebar ul li a i {
    color: var(--azul-brillante); /* Color azul brillante para los íconos */
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--azul-claro);
    border-left: 4px solid var(--azul-brillante);
    border-radius: 4px;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 40px auto; /* margen superior para evitar el header fijo */
    padding: 20px;
    border-radius: 10px;
    background: white;
}

.head {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
}
  
.head span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}
#new {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
}

